Dataset/demographics.csv
Dataset/geographic.csv
Dataset/green_trips_new_2.csv
Dataset/mta_trips.csv
Dataset/uber_trips_2014.csv
Dataset/uber_trips_2015.csv
Dataset/weather.csv
Dataset/yellow_trips_new.csv
Dataset/zones.csv